body{
    background-color: rgb(52, 27, 75);
    
}
.row {
    margin-bottom: 10px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-check {
    margin-top: 10px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
  }
  
  /* Responsive layout - Small devices (mobile) */
  @media (max-width: 576px) {
    .col-md-6,
    .col-md-4,
    .col-md-2 {
      width: 100%;
    }
  }
  
      .container {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }